  <a href="https://wa.me/2348027769825" target="_blank" class="whatsapp-float">
  <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="Chat on WhatsApp" />
</a>

<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-brand">
      <a href="/">
        <img src="/images/light-logo.png" alt="Logifi Logo" class="footer-logo-img">
      </a>

      <p>A digital platform by <strong>Cyplus</strong> — making property listings and rentals smarter, faster, and simpler.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About Us</a></li>
        <li><a href="/#how-it-works">How it Works</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>



    <div class="footer-contact">
      <h3>Get in Touch</h3>
      <p>Email: logifi.official@gmail.com</p>
      <p>Phone: +234 802 776 9825</p>
      <div class="social-icons">
        <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/facebook.png"/></a>
        <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/instagram-new.png"/></a>
        <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/linkedin.png"/></a>
        <a href="#"><img src="https://img.icons8.com/ios-filled/24/ffffff/twitter.png"/></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; <span id="year"></span>2025 Logifi | Powered by Cyplus.  All rights reserved.</p>
  </div>
</footer>